---
layout: likeali/base
---
<div style="text-align:center;clear:both"></div>
<aside class="accordion">
	<h1>News</h1>
	<div class="opened-for-codepen">
		<h2>News Item #1</h2>
		<div class="opened-for-codepen">
			<h3>News Item #1a</h3>
			<div>
				<h4>News Subitem 1</h4>
				<p>Lorem ipsum dolor sit consequat.</p>
				<h4>News Subitem 2</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipido consequat.</p>
				<h4>News Subitem 3</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisici commodo consequat.</p>
			</div>
			<h3>News Item #1b</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicingodo consequat.</p>
			<h3>News Item #1c</h3>
			<div class="opened-for-codepen">
				<h4>News Subitem 1</h4>
				<p>Lorem ipsum dolor sit amet, consectemodo consequat.</p>
				<h4>News Subitem 2</h4>
				<p class="opened-for-codepen">Lorem ipsum .</p>
			</div>
		</div>
		<h2>News Item #2</h2>
		<p>Lorem ipsum dolor sit amet, consectetucommodo consequat.</p>
		<h2>News Item #3</h2>
		<div>
			<h3>News Item #3a</h3>
			<p>Lorem ipsum dolor sit amet, consectetur mmodo consequat.</p>
			<h3>News Item #3b</h3>
			<p>Lorem ipsum dolor sit amet, conseommodo consequat.</p>
		</div>
	</div>
	<h1>Updates</h1>
	<div>
		<h2>Update #1</h2>
		<p>Lorem i ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<h2>Update #2</h2>
		<p>Lorem ipsum dolor llamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		<h2>Update #3</h2>
		<p>Lorem ipsum dolor sit amet, commodo consequat.</p>
		<h2>Update #4</h2>
		<p>Lorem ipsum dolor sit amet, consectetuo consequat.</p>
	</div>
	<h1>Miscellaneous</h1>
	<div>
		<h2>Misc. #1</h2>
		<p>Lorem ipsum dolor sit  commodo consequat.</p>
		<h2>Misc. #2</h2>
		<p>Lorem ipsum dolor sit amet,.</p>
		<h2>Misc. #3</h2>
		<div>
			<h3>Misc. Item #1a</h3>
			<div>
				<h4>Misc. Subitem 1</h4>
				<p>Lorem ipsuommodo consequat.</p>
				<h4>Misc. Subitem 2</h4>
				<p>Lorem ipsum dolaliquip ex ea commodo consequat.</p>
				<h4>Misc. Subitem 3</h4>
				<p>Lorem ipsum dolor sit amet ex ea commodo consequat.</p>
			</div>
			<h3>Misc. Item #2a</h3>
			<div>
				<h4>Misc. Subitem 1</h4>
				<p>Lorem ipsum dolor sit amet, consec consequat.</p>
				<h4>Misc. Subitem 2</h4>
				<p>Lorem ipsum dolor sit amet, a commodo consequat.</p>
			</div>
		</div>
	</div>
</aside>

<div>{{ content }}</div>



<script src="assets/likeali/js/jquery-1.8.3.min.js"></script> 
<script src="assets/likeali/js/index.js"></script>